.gridContainer {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(2, 435px);
  grid-template-rows: auto 425px auto auto auto auto auto auto auto auto;
  align-content: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: white;
}

.gridElement {
  font-family: Arial, Helvetica, sans-serif;
}

.pageHeader {
  grid-column: 1 / 3;
  text-align: center;
  width: 100%;
}

.pictureOfMe {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-items: center;
  display: flex;
}

.myBackground {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-items: start;
}

.likesAndDislikes {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-items: start;
  width: 100%;
}

.myProjects {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  width: 100%;
}

.scotlandIntro {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  width: 100%;
}

.picturesOfScotland {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.descOfScotland {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  align-items: center;
  display: flex;
}

.myFavourites {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
  width: 100%;
}

.myLinks {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
  text-align: center;
  width: 100%;
}

.interactiveElement {
  grid-column: 1 / 3;
  grid-row: 9 / 10;
}

.commentSection {
  grid-column: 1 / 3;
  grid-row: 10 / 11;
  margin-bottom: 75px;
  width: 100%;
}

.interactiveElement:hover {
  transform: rotate(180deg);
  color: cadetblue;
}

.scotlandPicture {
  height: 264px;
  width: 440px;
  margin-top: 20px;
}

p, #greeting-container, #desc-container, #daysXmas-container, li {
  font-size: 13pt;
}

#greeting-container {
  margin-top: 10px;
  color: cadetblue;
}

#desc-container, #faveDesc-container, #daysXmas-container {
  text-align: left;
  color: cadetblue;
}

#faveDesc-container {
  font-size: 12pt;
}

#faveTitle-container {
  font-size: 16pt;
  margin-top: 10px;
}

#likeHeader:hover {
  color: green;
}

#dislikeHeader:hover {
  color: red;
}

#xmasCounter {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}

#xmasCounterHeader, #daysXmas-container {
  margin-left: 20px;
  font-weight: bold;
  display: inline;
}

#submitComment {
  display: block;
  margin: 10px 0px;
}

#userComment {
  background-color: rgb(240, 240, 240);
  padding: 0px 15px;
}

#messageHeader {
  font-size: 14pt;
  padding-top: 10px;
}

#messageDateTime {
  color: darkgrey;
}

#messageText {
  padding-bottom: 10px;
}

#deleteMessage:hover {
  background-color: red;
}

body {
  background-color: cadetblue;
}

li {
  margin-top: 5px;
}

div {
  margin-left: auto;
  margin-right: auto;
}

.leftPic {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.logo {
  width: 50px;
  height: 50px;
  float: center;
}

.comments {
  position: center;
}

label {
  margin: 10px 0px;
  color: cadetblue;
  display: block;
}

h1 {
  margin-bottom: 0.35em;
  font-size: 60pt;
  font-style: bold;
  color: cadetblue;
}

h2, h3, #faveTitle-container {
  color:darkgray;
}

h2 {
  margin-top: -0.40em;
  font-size: 25pt;
}

h3 {
  /*margin-bottom: -0.25em;*/
  font-size: 15pt;
}

h4 {
  margin-bottom: -0.25em;
  font-size: 12pt;
  text-align: left;
  color:darkslategray;
}

button {
  background-color: cadetblue;
  color: white;
  padding: 10px 25px;
  text-align: center;
  border: none;
  font-size: 16px;
}

button:hover {
  background-color: darkcyan;
}